stages:
  - test
  - docker-build
  - docker-test

.dind:
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  tags:
    - docker

docker-build:
  extends: .dind
  stage: docker-build
  script:
    - docker build -t $CONTAINER_TEST_IMAGE .
    - docker push $CONTAINER_TEST_IMAGE

docker-tests:
  extends: .dind
  stage: docker-test
  script:
    - docker pull $CONTAINER_TEST_IMAGE
    - docker run $CONTAINER_TEST_IMAGE tox run -e pep8,docs
    - docker run $CONTAINER_TEST_IMAGE tox run -e py -- tests
    - docker run $CONTAINER_TEST_IMAGE tox run -e py -- integration-tests

coverage-test:
  image: python:3.8
  stage: test
  before_script:
    - pip install tox
  script:
    - tox run -e pep8
    - tox run -e cov -- tests
  tags:
    - docker
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

.compatibility-tests:
  stage: test
  before_script:
    - pip install tox
  script:
    - tox run -e pep8
    - tox run -e py -- tests
  tags:
    - docker

test-py39:
  extends: .compatibility-tests
  image: python:3.9

test-py310:
  extends: .compatibility-tests
  image: python:3.10

test-py311:
  extends: .compatibility-tests
  image: python:3.11
