recursive-include tests *
exclude tests/testdata/create_simple_communications.py
recursive-include examples *
recursive-include integration-tests *
include LICENSE.md
include pytest.ini
include README.md
include requirements.txt
include test-requirements.txt
include tox.ini
include Dockerfile
