recursive-include tests *
exclude tests/testdata/create_simple_communications.py
recursive-include examples *
recursive-include integration-tests *
include setup.cfg
include AUTHORS
include CHANGELOG
include LICENSE
include README.rst
include test-requirements.txt
include tox.ini
